<!DOCTYPE HTML>
<html>

    <head>
        <title>Réglisse - Déroulez vos lignes de transport dans OSM</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="main.css"/>
    </head>

    <body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="index.html" class="logo">Réglisse</a>
            </div>
        </header>

        <!-- Three -->
        <section id="three" class="wrapper">

            <div class="inner">
                <header class="align-center">
                    <p>Rechercher une relation de ligne de transport dans OSM :
                    </p>
                </p>
            </header>

            <form id="form_relations_creator">

                <div class="field">
                    <label for="code">Code de la ligne</label>
                    <input name="code" type="text" placeholder="numéro de ligne" v-model.trim="code">
                </div>

                <div class="field half first">
                    <label for="network">Réseau</label>
                    <input name="network" type="text" placeholder="nom du réseau" v-model.trim="network">
                </div>
                <div class="field half">
                    <label for="operator">Transporteur</label>
                    <input name="operator" type="text" placeholder="nom de l'opérateur" v-model.trim="operator">
                </div>
                <div class="align-center" v-if="workflow == 'init'">
                    <a class="button special" v-on:click="overpass_query" target="_blank">
                        Rechercher
                    </a>
                </div>
                <div class="field" v-if="workflow == 'add_other_info' || workflow == 'create_josm'">
                    <label for="modes-list">Mode de transport</label>
                    <div class="select-wrapper">
                        <select name="modes-list" v-model="mode">
                            <option value="bus">Bus</option>
                            <option value="subway">Métro</option>
                            <option value="tram">Tramway</option>
                            <option value="train">Train</option>
                            <option value="trolleybus">Trolleybus</option>
                            <option value="coach">Autocar</option>
                            <option value="monorail">Monorail</option>
                            <option value="ferry">Bateau</option>
                            <option value="funicular">Funiculaire</option>
                        </select>
                    </div>
                </div>
                <div class="field half first" v-if="workflow == 'add_other_info' || workflow == 'create_josm'">
                    <label for="origin">Terminus 1</label>
                    <input name="origin" type="text" placeholder="départ" v-model.trim="from">
                </div>
                <div class="field half" v-if="workflow == 'add_other_info' || workflow == 'create_josm'">
                    <label for="destination">Terminus 2</label>
                    <input name="destination" type="text" placeholder="arrivée" v-model.trim="to">
                </div>
                <div class="field" v-if="workflow == 'add_other_info'">
                    <a class="button special" v-on:click="next_step">OK</a>
                </div>
                <header class="align-center" v-if="workflow == 'check_existing'">
                    <div v-if="overpass_spinning">... recherche de relations ...</div>
                    <div v-if="overpass_result.length">
                        <ul>
                            <p>Voici des relations existantes qui correspondent peut-être :</p>
                            <li v-for="relation in overpass_result">
                                {{relation.tags.reglisse_type}}
                                -
                                <a v-bind:href="relation.tags.reglisse_url" target="_blank">
                                    {{ relation.tags.reglisse_name }}</a>
                                ({{relation.tags.reglisse_mode}})
                            </li>
                        </ul>
                        <p>
                            <a class="button special" v-on:click="next_step">Créer une autre relation ?</a>
                        </p>
                    </div>
                    <p v-if="overpass_empty">Aucune relation trouvée.
                    </p>
                    <p>
                        <a v-if="overpass_empty" class="button special" v-on:click="next_step">Créer une relation ?</a>
                    </p>
                </header>
                <div v-if="workflow == 'create_josm'">
                    <p>Lancez JOSM, puis cliquez sur les boutons ci-dessous pour créer des nouvelles relations
                    </p>
                    <ul class="align-center actions">

                        <li>
                            <a class="button special" v-bind:href="route_a" target="_blank">
                                Créer la relation
                                {{from}}
                                >
                                {{to}}
                            </a>
                        </li>
                        <li>
                            <a class="button special" v-bind:href="route_b" target="_blank">
                                Créer la relation
                                {{to}}
                                >
                                {{from}}
                            </a>
                        </li>
                    </ul>
                    <ul class="align-center actions">
                        <li>
                            <a class="button special" v-bind:href="route_master" target="_blank">
                                Créer la relation de la ligne
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">

        <h3>Plus d'info ?</h3>
        <ul class="actions">
            <li>
                <a href="https://wiki.openstreetmap.org/wiki/Tag:type%3Droute_master">wiki OSM</a>
            </li>
            <li>
                <a href="https://github.com/nlehuby/transport-relation-creator">Github</a>
            </li>
        </ul>

        <div class="copyright">
            <a href="https://nlehuby.5apps.com">nlehuby</a>, pour
            <a href="http://junglebus.io">JungleBus</a>. &copy; Design
            <a href="https://templated.co">TEMPLATED</a>
            <!-- Theme Projection by TEMPLATED templated.co @templatedco Released for free under the Creative Commons Attribution 3.0 license (templated.co/license) -->

        </div>

    </footer>

</body>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://vuejs.org/js/vue.min.js"></script>
<script src="main.js"></script>

</html>
