@charset "UTF-8";
/*
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    modified by nlehuby (for original version, see templated.co)
*/

/* Reset */

	html, body, div, h3, p, a, ul, li, form, label, footer, header, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	footer, header, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ul {
		list-style: none;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

/* Grid */

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

/* Type */

	body, input, select {
		color: #9a9a9a;
		font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select {
				font-size: 12pt;
			}

		}

	a {
		color: #6cc091;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	p {
		margin: 0 0 2em 0;
	}

	h3 {
		color: #555;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

	h3 {
		font-size: 1.75em;
	}

		@media screen and (max-width: 480px) {

			h3 {
				font-size: 1.25em;
			}

		}

	.align-center {
		text-align: center;
	}

	.inner {
		max-width: 75em;
		margin: 0 auto;
	}

		@media screen and (max-width: 1280px) {

			.inner {
				max-width: 90%;
			}

		}

		@media screen and (max-width: 480px) {

			.inner {
				max-width: 90%;
			}

		}

/* Section/Article */

	section.wrapper {
		padding: 6em 0;
	}

		section.wrapper header {
			margin-bottom: 4em;
		}

			section.wrapper header p {
				font-size: 1em;
			}

		@media screen and (max-width: 980px) {

			section.wrapper {
				padding: 4em 0;
			}

		}

		@media screen and (max-width: 736px) {

			section.wrapper {
				padding: 3em 0;
			}

				section.wrapper header {
					margin-bottom: 2em;
				}

					section.wrapper header p {
						font-size: .9em;
					}

		}

	header p {
		color: #bbb;
		position: relative;
		margin: 0 0 1.5em 0;
	}

/* Flex */

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form .field {
			margin-bottom: 1.5em;
		}

			form .field.half {
				display: inline-block;
				width: 48%;
			}

				form .field.half.first {
					margin-right: 3%;
				}

		@media screen and (max-width: 980px) {

			form .field.half {
				display: block;
				width: 100%;
			}

				form .field.half.first {
					margin-right: 0;
				}

		}

	label {
		color: #555;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #6cc091;
		border-radius: 10px;
		border: none;
		border: solid 2px #8dcca9;
		color: #fff;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		select:focus {
			border-color: #4bae77;
			box-shadow: 0 0 0 1px #4bae77;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "▽";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: #fff;
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	select {
		height: 2.75em;
	}

	::-webkit-input-placeholder {
		color: #c4e5d3 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #c4e5d3 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #c4e5d3 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #c4e5d3 !important;
		opacity: 1.0;
	}

/* Box */

/* Icon */

/* Image */

/* List */

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

			}

/* Table */

/* Button */

	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		box-shadow: inset 0 0 0 3px #6cc091;
		color: #6cc091 !important;
		border-radius: 30px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: .75em;
		font-weight: 400;
		height: 3.75em;
		line-height: 3.85em;
		letter-spacing: 2px;
		padding: 0 4em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		.button:hover {
			background-color: rgba(108, 192, 145, 0.15);
		}

		.button:active {
			background-color: rgba(108, 192, 145, 0.15);
		}

		.button.special {
			background-color: #6cc091;
			color: #ffffff !important;
		}

			.button.special:hover {
				background-color: #7ec89e;
			}

			.button.special:active {
				background-color: #5ab884;
			}

		.button:disabled {
			background-color: #9a9a9a !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

		@media screen and (max-width: 480px) {

			.button {
				padding: 0;
				width: 100%;
			}

		}

/* Header */

	.subpage {
		padding-top: 44px;
	}

		.subpage #header {
			background: #6cc091;
			top: 0;
			height: 44px;
			line-height: 44px;
			position: fixed;
		}

	#header {
		color: #fff;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 2em;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			color: #ffffff;
			display: inline-block;
			font-weight: 400;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			font-size: 1em;
		}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			font-size: 1em;
		}

			#header a:hover {
				color: #ffffff;
			}

			#header a:last-child {
				padding-right: 0;
			}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 980px) {

		#header {
			top: 1em;
		}

	}

	@media screen and (max-width: 736px) {

		#header {
			top: .5em;
		}

	}

	@media screen and (max-width: 480px) {

		#header {
			font-size: .9em;
		}

	}

/* Nav */

/* Banner */

/* Footer */

	#footer {
		padding: 6em 0;
		background: #6cc091;
		color: #fff;
		text-align: center;
	}

		#footer h3 {
			color: #FFF;
			margin-bottom: 2em !important;
		}
        #footer a {
            color: #FFF;
            margin-bottom: 2em !important;
        }

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.8em;
			margin: 0 0 2em 0;
			padding: 0;
		}

			#footer .copyright a {
				color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
			}

				#footer .copyright a:hover {
					color: #FFF;
				}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 4em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0;
			}

		}
